@font-face {
  font-family: Confortaa;
  src: url(./assets/Font/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
  font-family: Confortaa-light;
  src: url(./assets/Font/static/Comfortaa-Light.ttf);
}

@font-face {
  font-family: Confortaa-medium;
  src: url(./assets/Font/static/Comfortaa-Medium.ttf);
}

* {
  font-family: Confortaa;
  margin: 0;
  padding: 0;
}

body {
  color: #173a66;
  margin: 0;
}

section {
  display: flex;
  padding: 0 12%;
}

p {
  margin-bottom: 24px;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.625em;
  font-family: Confortaa-light;
}

h1 {
  margin: 6% 12.2%;
  line-height: 1.5em;
  font-size: 3em;
}

h1, h2 {
  font-family: Nunito;
  font-weight: 500;
}

.section-text-container {
  display: flex;
  flex-direction: column;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#about-first-section-container {
  margin-bottom: 52px;
}

#about-first-section-container img{
  height: 380px;
}

#about-first-section-container p {
  line-height: 1.6em;
}

#about-first-section-container .section-text-container {
  margin-left: auto;
}

#about-second-section-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin-top: 100px;
  padding: 0 8%;
}

#about-second-section-container .founders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.75em;
  font-family: Confortaa-light;
  font-weight: 300;
}

#about-second-section-container .founders-container img {
  height: 84%;
  margin: auto auto 0;
}

#about-second-section-container p {
  font-size: 1.125em;
}

#image-section {
  width: 100%;
}

#footer-divider {
  height: 2px;
  background-color: #173a66;
  width: 100%;
}

#footer-container {
  margin: 60px 0 120px;
}

#footer-container img {
  height: 300px;
}

#footer-container .section-text-container {
  padding-top: 24px;
}

#footer-container p {
  line-height: 1.6em;
}

@media screen and (max-width: 1260px) {
  body {
    font-size: 12px;
  }

  p {
    font-size: 1.4em;
  }

  #about-first-section-container img {
    margin-top: 0% !important;
  }

  #about-first-section-container p {
    line-height: 1.8em;
  }
  
  #about-second-section-container .founders-container img {
    height: 72% !important;
  }

  #about-second-section-container .founders-container h2 {
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 1660px) {
  body {
    font-size: 10px;
  }

  h1 {
    margin: 6% 12.2%;
    font-size: 3em;
  }

  #about-first-section-container img {
    height: 280px;
    margin-top: 2%;
  }

  #about-second-section-container .founders-container img {
    height: 84%;
    margin: auto auto 0;
  }

  #footer-container img {
    height: 230px;
  }
}